@model PierwszaAplikacjaMVC.Models.GuestResponse

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <title>Formularz</title>
    </head>

    <body>
        <div class="m-2">
            <h3>Wypełnij formularz</h3>

            <form class="p-1" asp-action="ResponseForm" method="post">

                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Name">Imie i nazwisko:</label>
                    <input class="form-control" asp-for="Name" />
                </div>

                <div class="form-group">
                    <label asp-for="Email">Adres e-mail:</label>
                    <input class="form-control" asp-for="Email" />
                </div>

                <div class="form-group">
                    <label asp-for="PhoneNumber">Numer telefonu:</label>
                    <input class="form-control" asp-for="PhoneNumber" />
                </div>

                <div class="form-group">
                    <label>Czy jesteś pewien, że będziesz?</label>
                    <select class="form-control" asp-for="WillAttend">
                        <option value="">Nie wiem</option>
                        <option value="true">Tak</option>
                        <option value="false">Nie</option>
                    </select>
                </div>

                <div class="text-center">
                    <button class="btn btn-primary" type="submit">
                        Wyślij odpowiedź
                    </button>
                </div>

            </form>
        </div>
    </body>
</html>
